<div class="first-login container-fluid">
  <div class="row">
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
      <div class="row">
        <h1>Getting started in OpenShift.io</h1>
        <p>
          Welcome to OpenShift.io! To get started you will need to create a username, provide a contact email and connect your GitHub
          and OpenShift Online accounts. Profile information will also appear in external search engine results. Advanced
          setings can be updated below, click <a>Advanced profile</a> to open and complete the collapsed section
          below.
        </p>
      </div>
      <div class="row">
        <form role="form">
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div style="height: 200px; width: 200px" class="text-center">Image placeholder</div>
            <h2><strong>Name</strong></h2>
            <h2>username</h2>
            <hr />
            <div>
              <a><span class="fa fa-envelope"></span> Add an email</a>
            </div>
            <div>
              <a><span class="fa fa-external-link"></span> Add a url</a>
            </div>
            <div>
              <a>Add a bio</a>
            </div>
          </div>
          <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
            <div class="row">
              <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <small>The fields marked with * are required.</small>
                <h2>Your profile</h2>
                <div class="form-group">
                  <label for="username">Username *</label>
                  <input type="text" class="form-control" id="username" name="username">
                  <p class="help-block">Your username will be shown on your profile. Usernames must be less than 63 characters, and can't begin
                    with a dash or an underscore. They may contain lowercase letters, numbers, dashes or underscores.</p>
                </div>
                <div class="form-group">
                  <label for="fullname">Name *</label>
                  <input type="text" class="form-control" id="fullname" name="fullname">
                  <p class="help-block">Your name will be shown on your profile.</p>
                </div>
                <div class="form-group">
                  <label for="fullname">Email *</label>
                  <input type="text" class="form-control" id="email" name="email">
                  <p class="help-block">Your email will <strong>not</strong> be shown on your profile.</p>
                </div>
              </div>
            </div>
            <div class="row">

              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2>Connected accounts</h2>
                <p>
                  You must connect your GitHub and Openshift Online accounts to OpenShift.io. This allows us to import and manage your source
                  code, your pipelines and your environments.
                </p>
                <div class="form-group">
                  <label for="fullname">GitHub *</label><br />
                  <button type="button" class="btn btn-default"><span class="fa fa-github-square"></span> Connect GitHub account</button>
                </div>
                <div class="form-group">
                  <label for="fullname">OpenShift Online *</label><br/>
                  <button type="button" class="btn btn-default"> Connect OpenShift account</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2><a><span class="fa fa-angle-right"></span> Advanced profile</a></h2>
                <h3>About you</h3>
                <div class="row">
                  <div class="form-group">
                    <label for="imageurl">Avatar</label>
                    <div style="height: 50px; width: 50px" class="text-center">Image placeholder</div>
                    <input type="text" class="form-control" id="imageurl" name="imageurl" placeholder="Provide url to avatar">
                    <button type="button" class="btn btn-default"><span class=""></span> Link avatar</button>
                  </div>
                  <div class="form-group">
                    <label for="url">Url</label>
                    <input type="text" class="form-control" id="url" name="url">
                  </div>
                  <div class="form-group">
                    <label for="url">Bio</label>
                    <textarea class="form-control" id="url" name="url"></textarea>
                    <div>
                      <small class="pull-right"><strong>100</strong> characters remaining</small></div>
                  </div>

                </div>

              </div>
            </div>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
              <button type="button" class="btn btn-default"> Update profile</button>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-default"> Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
