<div id="analyze-overview" class="container-fluid analyze-overview-wrapper">
  <section class="row row-cards-pf space-overview-wrapper">
    <div class="flex-grow-4">
      <aside>
        <div class="card-pf">
          <div class="flex-grow-1">
            <h2 class="card-pf-title card-pf-utilization-details">BalloonPopGame</h2>
            <p>Description of the "SPACE" goes here.
              Space owner would write the description here...
              It also has edit option for him.</p>
          </div>
        </div>
      </aside>
    </div>
    <div class="flex-grow-8">
      <aside>
        <div class="card-pf">
          <div class="flex-grow-2">
            <h2 class="card-pf-title card-pf-utilization-details">Analytical Report</h2>
            <form>
              <div class="form-group">
                <div class="combobox-container">
                  <input type="hidden" name="" value="">
                  <div class="input-group">
                    <input type="text" autocomplete="false" placeholder="Select your build/pipeline" class="combobox form-control">
                    <span class="input-group-addon dropdown-toggle" data-dropdown="dropdown">
                      <span class="caret"></span> <span class="glyphicon glyphicon-remove"></span>
                    </span>
                  </div>
                </div>
                <select class="combobox form-control hide">
                  <option value="" selected="selected">Select your build/pipeline</option>
                  <option value="AL">Pipeline 1</option>
                  <option value="AK">Pipeline 2</option>
                  <option value="AZ">Pipeline 3</option>
                  <option value="AR">Pipeline 4</option>
                  <option value="CA">Pipeline 5</option>
                  <option value="CO">Pipeline 6</option>
                  <option value="CT">Pipeline 7</option>
                  <option value="DE">Pipeline 8</option>
                </select>
              </div>
            </form>
            <ul class="list-view-pf analytical-report-list">
              <li class="list-group-item">
                <div class="list-group-item-text">
                  <a>Build #102</a>
                  <span> - You have used</span>
                  <a>Java JDK 2.0.3</a>
                  <span>better way to run/deploy you can use</span>
                  <a>Java JDK 2.0.8</a>
                </div>
              </li>
              <li class="list-group-item">
                <div class="list-group-item-text">
                  <a>Build #102</a>
                  <span> - We recommend to use you can use</span>
                  <a>Java JDK 2.0.8</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </aside>
    </div>
  </section>
  <section class="row row-cards-pf space-overview-wrapper">
    <div class="flex-grow-4 " >
      <aside>
        <div class="card-pf">
          <div class="flex-grow-1 flex-container in-column-direction">
            <h2 class="card-pf-title card-pf-utilization-details">
              <span>My Work Items</span>
              <span class="badge">20</span>
            </h2>
            <div class="blank-slate-pf">
              <div class="blank-slate-pf-icon">
                <span class="pficon pficon pficon-add-circle-o"></span>
              </div>
              <h1>Create Work Item</h1>
              <p>Planner will help you to create different
                  types of work-items, allows you to assign a team
                  members and iterations
              </p>
              <div class="blank-slate-pf-main-action">
                <button class="btn btn-primary btn-lg"> Create a work-item </button>
              </div>
            </div>
            <div class="analyze-overview-items-detail">
              <div class="card-pf-body">
                <ul class="list-view-pf">
                  <li class="list-group-item">
                    <div class="list-group-item-text">
                      Work Items <a>#201</a> assigned to you by <a>@magranfie</a> under wireframe label
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="list-group-item-text">
                      Work Items <a>#201</a> assigned to you by <a>@magranfie</a> under wireframe label
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="list-group-item-text">
                      Work Items <a>#201</a> assigned to you by <a>@magranfie</a> under wireframe label
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="list-group-item-text">
                      Work Items <a>#201</a> assigned to you by <a>@magranfie</a> under wireframe label
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="list-group-item-text">
                      Work Items <a>#201</a> assigned to you by <a>@magranfie</a> under wireframe label
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="list-group-item-text">
                      Work Items <a>#201</a> assigned to you by <a>@magranfie</a> under wireframe label
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="list-group-item-text">
                      Work Items <a>#201</a> assigned to you by <a>@magranfie</a> under wireframe label
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="list-group-item-text">
                      Work Items <a>#201</a> assigned to you by <a>@magranfie</a> under wireframe label
                    </div>
                  </li>
                </ul>
              </div>
              <div class="card-pf-footer">
                <a class="margin-bottom-10">
                  <i class="pficon pficon-add-circle-o"></i>
                  <span>Add work item</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </aside>
    </div>
    <div class="flex-grow-4 " >
      <aside>
        <div class="card-pf">
          <div class="flex-grow-1 flex-container in-column-direction">
            <h2 class="card-pf-title card-pf-utilization-details">
              <span>Codebase</span>
              <span class="badge">20</span>
            </h2>
            <div class="blank-slate-pf">
              <div class="blank-slate-pf-icon">
                <span class="pficon pficon pficon-add-circle-o"></span>
              </div>
              <h1>You can add your codebase</h1>
              <p>You can start your coding from scratch or
                you can also import your
                code repository
              </p>
              <div class="blank-slate-pf-main-action">
                <button class="btn btn-primary btn-lg"> Create a Codebase </button>
              </div>
            </div>
            <div class="analyze-overview-items-detail">
              <div class="card-pf-body ">
                <ul class="list-view-pf">
                  <li class="list-group-item">
                    <div class="list-group-item-text">
                      Work Items <a>#201</a> assigned to you by <a>@magranfie</a> under wireframe label
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="list-group-item-text">
                      Work Items <a>#201</a> assigned to you by <a>@magranfie</a> under wireframe label
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="list-group-item-text">
                      Work Items <a>#201</a> assigned to you by <a>@magranfie</a> under wireframe label
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="list-group-item-text">
                      Work Items <a>#201</a> assigned to you by <a>@magranfie</a> under wireframe label
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="list-group-item-text">
                      Work Items <a>#201</a> assigned to you by <a>@magranfie</a> under wireframe label
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="list-group-item-text">
                      Work Items <a>#201</a> assigned to you by <a>@magranfie</a> under wireframe label
                    </div>
                  </li>
                </ul>
              </div>
              <div class="card-pf-footer">
                <a class="margin-bottom-10">
                  <i class="pficon pficon-add-circle-o"></i>
                  <span>Create Codebase</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </aside>
    </div>
    <div class="flex-grow-4 " >
      <aside>
        <div class="card-pf">
          <div class="flex-grow-1 flex-container in-column-direction">
            <h2 class="card-pf-title card-pf-utilization-details">
              <span>Pipeline</span>
              <span class="badge">0</span>
            </h2>
            <div class="blank-slate-pf">
              <div class="blank-slate-pf-icon">&nbsp;</div>
              <h1>There is no pipeline execution</h1>
              <p>You will get updated once you commit/build
                your codebase.You can also view other user execution.
                Press on 'refresh' button to see the latest update
              </p>
              <div class="blank-slate-pf-main-action">
                <button class="btn btn-primary btn-lg"> Refresh </button>
              </div>
            </div>
            <div class="analyze-overview-items-detail">
              <div class="card-pf-body">
                <ul class="list-view-pf">
                  <li class="list-group-item">
                     <div class="list-group-item-text">Pipeline execution update here.</div>
                  </li>
                </ul>
              </div>
              <div class="card-pf-footer">
                <a class="margin-bottom-10">
                  &nbsp;&nbsp;&nbsp;
                </a>
              </div>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </section>
</div>

<modal #teamMembership title="Manage membership of BalloonPopGame Team">
    <modal-content>
        <team-membership-dialog></team-membership-dialog>
    </modal-content>
</modal>
